.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
    margin-top: 2px;
}

.header-center div {
    display: flex;
    justify-content: center !important;
}

#upload_input #filepond--drop-label-4jko24jgo {
    font-size: 18px !important;
}

@media (max-width: 768px) {
    .dashboard-data-table .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
        padding: 0;
    }

    .dashboard-data-table .css-pdct74-MuiTablePagination-selectLabel {
        display: none;
    }
}