* {
    font-family: "Poppins", sans-serif;
}
.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
    margin-top: 2px;
}

.header-center div {
    display: flex;
    justify-content: center !important;
}

#upload_input #filepond--drop-label-4jko24jgo {
    font-size: 18px !important;
}

.clients-list-table .css-1ex1afd-MuiTableCell-root {
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: "Poppins", sans-serif;
}

.clients-list-table-1 .css-1ex1afd-MuiTableCell-root {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Poppins", sans-serif;
}

.client-table-header th {
    color: #181d1f !important;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 12px;
}

.dashboard-data-table .css-pdct74-MuiTablePagination-selectLabel {
    font-family: "Poppins", sans-serif;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container input {
    font-size: 1rem;
    width: 100%;
    display: block;
    border-color: var(--input-border);
    color: var(--default-text-color);
    background-color: var(--form-control-bg);
    font-size: 0.875rem;
    font-weight: var(--default-font-weight);
    line-height: 1.8;
    border-radius: 0.85rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 0.5rem 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-dashboards-button::placeholder {
    color: rgba(0, 0, 0, 0.87);
    opacity: 1; 
}

.header-dashboards-button {
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: 400 !important;
}

.ag-paging-row-summary-panel {
    display: block;
}

@media (max-width: 768px) {
    .dashboard-data-table .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
        padding: 0;
    }

    .dashboard-data-table .css-pdct74-MuiTablePagination-selectLabel {
        display: none;
    }

    .ag-paging-row-summary-panel {
        display: none;
    }
}

.custom-input::placeholder {
    color: #888; /* Your desired placeholder color */
  }